.mainWrapper {
    display: flex;
    width: 70vw;
    height: 80vh;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    z-index: 10;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
    background-color: white;

    .chatWrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: hidden;
        z-index: 10;
        border-left: 1px solid #ccc;
    }
}